.features__wrapper {
  padding: 50px 20px 60px;
  display: grid;
  gap: 36px;
}

.features__badge {
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: @base-primary;
  margin-bottom: 4px;
}

.features__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: inherit;
  text-align: center;
  margin: 0 auto;
}

.features__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 32px;
}

.features__item {
  display: block;
  box-sizing: border-box;
}

.features__item-title {
  font-family: inherit;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin: 0 auto 4px;
  padding-top: 66px;
  background-repeat: no-repeat;
  background-size: 50px 56px;
  background-position: top;
}

.features__item-title--speed {
  background-image: url("../../img/features/speed.svg");
}

.features__item-title--convenience {
  background-image: url("../../img/features/pocketsize.svg");

}

.features__item-title--cheerfulness {
  background-image: url("../../img/features/energy.svg");
}

.features__item-title--eco {
  background-image: url("../../img/features/eco.svg");
}

.features__item-text {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
}
