.main-header {
  background-color: @base-white;
  position: relative;
  width: 100%;
  min-height: 60px;
}

.main-header--nojs {
  padding: 0;
}

.main-header__wrapper {
  display: flex;
  padding: 0 20px;
  width: 320px;
}

.main-header__logo-wrapper {
  margin: 10px 88px 10px 0;
}

.main-header__logo {
  display: block;
  width: 32px;
  height: 38px;
}

.main-header__user-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.main-header__user-list-link {
  width: 60px;
  height: 60px;
  padding: 22px;
  background-color: transparent;
  display: block;
  box-sizing: border-box;
}

.main-header__user-list-icon {
  fill: @base-black;
}
