.navigation {
  width: 60px;
  min-height: 60px;
  background-color: @base-white;

  @media (min-width: @tablet-width) {
    order: 1;
    width: fit-content;
    min-height: 80px;
  }
}

.navigation--nojs .navigation__toggle-wrapper {
  display: none;
}

.navigation__toggle-wrapper {
  width: 60px;
  height: 60px;
  display: block;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.navigation__toggle {
  position: relative;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 22px 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: block;

  &:hover,
  &:active {
    background-color: @base-secondary;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 22px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/img/burger.svg");
  // height: 1.5px;
  // background-color: @base-black;
  // box-shadow: 0 5.5px 0 0 @base-black, 0 11px 0 0 @base-black;
  // transform-origin: center center;
  // transform: translate(-50%, -50%);
}

.navigation--opened .navigation__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 22px;
    width: 16px;
    height: 2px;
    background-color: @base-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.navigation--opened .navigation__popover {
  display: block;
  z-index: 100;
}

@media (max-width: @mobile-width-only) {
  .navigation__popover {
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: @base-white;
  }
}

@media (min-width: @tablet-width) {
  .navigation__popover {
    width: fit-content;
  }

}


.navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  border-top: 1px solid @base-secondary;


  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: @mobile-width-only) {
  .navigation--closed .navigation__popover {
    display: none;
  }
}

@media (max-width: @mobile-width-only) {
  .navigation--opened .navigation__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

.navigation--nojs .navigation {
  width: 100%;
}

@media (max-width: @mobile-width-only) {
  .navigation--nojs .navigation__popover {
    position: static;
    display: block;
    z-index: 100;
    min-width: 320px;
    max-width: 767px;
    margin-left: -20px;
    grid-area: menu;
  }
}


@media (max-width: @mobile-width-only) {
  .navigation--nojs .navigation__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}


.navigation__item {
  padding: 20px 20px;
  border-bottom: 1px solid @base-secondary;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: fit-content;
    min-height: 80px;
    padding: 0;
  }
}

.navigation__link {
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: @base-black;
  text-decoration: none;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  &:hover,
  &:focus {
    color: @base-primary;
  }

  &:active {
    background-color: @base-secondary;
  }


  @media (min-width: @tablet-width) {
    padding: 32px 20px;

    &:hover,
    &:focus {
      color: @base-primary;
    }

    &:active {
      color: @base-primary;
      background-color: @base-secondary;
    }

    &--current {
      color: @base-primary;
    }

    &--current::after {
      content: "";
      width: 103px;
      height: 2px;
      background-color: @base-primary;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
